<div class="row">
<%= form_for(@semester, html: {class: 'form-horizontal col-md-3 col-md-offset-1'}) do |f| %>
  <% if @semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@semester.errors.count, "error") %> <%= t(:semester_errors) %>:</h2>

      <ul>
      <% @semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.select :year, Time.zone.now.year..(Time.zone.now.year + 1) %>
      <%= f.select(:pos, Semester.pos.keys.map {|pos| [pos.titleize, pos]}) %>

    <%= f.submit %>
<% end %>
</div>