<h1><%= t(:edit) %> <%= t(:semester) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @semester, class: 'btn btn-flat waves-effect waves-teal' %>
<%= link_to t(:back), semesters_path, class: 'btn btn-flat waves-effect waves-teal' %>
