<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= t(:semesters) %></span>
    <p>
      <%= link_to t(:new) + ' ' + t(:semester), new_semester_path, class: 'btn waves-effect waves-light' %>
    </p>
  </div>
</div>

<table class="striped">
  <thead>
  <tr>
    <th><%= t(:year) %></th>
    <th><%= t(:pos) %></th>
    <th><%= t(:actions) %></th>
  </tr>
  </thead>

  <tbody>
  <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.year %></td>
        <td><%= semester.pos %></td>
        <td>
          <%= link_to raw('<i class="fa fa-eye"></i>'), semester, title: t(:show) %>
          <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_semester_path(semester), title: t(:edit) %>
          <%= link_to raw('<i class="fa fa-trash"></i>'), semester, method: :delete, data: {confirm: t(:are_you_sure)}, title: t(:delete) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
