<h1><%= @semester.name %></h1>

<%= link_to t(:edit), edit_semester_path(@semester) %> |
<%= link_to t(:back), semesters_path %>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= render 'relation', semester: @semester %>
  </div>
  <div class="col-md-7">
    <h3><%= t :disciplines %></h3>
      <table class="table">
        <tr>
          <th><%= t :discipline %></th>
          <th><%= t :group %></th>
          <th><%= t :teacher %></th>
          <th></th>
        </tr>
        <% @semester.relationships.all.each do |relationship|%>
        <tr>
          <td><%= link_to relationship.discipline.title, relationship.discipline %></td>
          <td><%= link_to relationship.group.title_year, relationship.group %></td>
          <td><%= relationship.discipline.user.name %></td>
          <td><%= link_to t(:delete), relationship, method: :delete, data: {confirm: t(:are_you_sure) + ' ' + t(:all_marks_will_be_lost)}, class: 'btn btn-danger' %></td>
        </tr>
        <% end %>
      </table>
  </div>
</div>