<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= @discipline.title %></span>

    <p>
      <strong>Teacher:</strong>
      <%= gravatar_for @discipline.user %>
      <%= @discipline.user.name %>
    </p>
  </div>
  <div class="card-action">
    <%= link_to t(:edit), edit_discipline_path(@discipline) %>
    <%= link_to t(:back), disciplines_path %>
  </div>
</div>

<div class="row">
  <div class="col m4 s12">
    <%= render 'semester_form', discipline: @discipline, semester: @semester %>
  </div>
  <div class="col m8 s12">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Groups
          <small>
            <%= link_to raw('<i class="material-icons">add</i>'), semester_path(current_semester), class: 'btn-floating waves-effect waves-light red' unless current_semester.nil? %>
          </small>
        </h4>
      </li>
      <% @semester.relationships.filter_discipline(@discipline).each do |relationship| %>
          <li class="collection-item">
            <div>
              <%= link_to relationship.group.title + ' (' + relationship.group.year.to_s + ')', relationship.group %>

              <%= link_to t(:marks), relationship_path(relationship), class: 'secondary-content' %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
