<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= t(:edit_account) %></span>
  </div>
</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>

    <%
       options = Hash.new
       options[:readonly] = true if current_user.student?
       options[:class] = 'form-control'
    %>

    <div class="row">
      <div class="input-field col s12 m6">
        <%= f.email_field :email, :autofocus => true %>
        <%= f.label t(:email) %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
      <div class="input-field col s12 m6">
        <%= f.text_field :name, options %>
        <%= f.label t(:name) %>
      </div>
    </div>

    <p><%= t(:leave_fields_blank_password) %></p>

    <div class="row">
      <div class="input-field col s12 m6">
        <%= f.password_field :password, :autocomplete => 'off' %>
        <%= f.label t(:password) %>
      </div>
      <div class="input-field col s12 m6">
        <%= f.password_field :password_confirmation %>
        <%= f.label t(:password_confirmation) %>
      </div>
    </div>

    <p><%= t(:you_must_enter_current_password) %></p>

    <div class="row">
      <div class="input-field col s12 m6">
        <%= f.password_field :current_password %>
        <%= f.label t(:current_password) %>
      </div>
      <div class="input-field col s12 m6">
        <%= button_tag t(:update), class: 'btn waves-effect waves-light', type: 'submit' %>
      </div>
    </div>
<% end %>
