<div class="row">

  <div class="col s12 m6">
    <h4><%=t(:semester)%></h4>
    <div class="card">
      <div class="card-content">
        <span class="card-title black-text"><%= current_semester.nil? ? t(:no_semester_in_current_year) : (t(:current) + ' ' + t(:semester)) %></span>
        <p>
          <% if current_semester.nil? %>
              <%= link_to t(:create) + ' ' + t(:semester), new_semester_path, class: 'btn btn-success' -%>
          <% else %>
              <%= link_to current_semester.name, semester_path(current_semester) -%>
          <% end %>
        </p>
      </div>
    </div>

    <% if (!@relationships.empty?) %>
        <div class="card">
          <div class="card-content">
            <span class="card-title black-text"><%= t :disciplines %></span>
            <p>
              <% @relationships.each do |r| %>
                  <%= link_to r.discipline.title << ' (' << r.group.title << ')', relationship_path(r) %> <br/>
              <% end %>
            </p>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col s12 m6">
    <h4><%=t(:homeworks)%></h4>
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @homeworks.to_a.uniq(&:visit_id).each do |h| %>
          <li>
            <div class="collapsible-header">
              <%= h.user.name %> (<%= h.visit.relationship.group.title %>)
            </div>
            <div class="collapsible-body">
              <p>
                <%= h.visit.relationship.discipline.title %> <br />
                <%= h.comment_text %> <br />
                [<%= h.created_at %>] |
                    <%= link_to t(:view), visit_homeworks_path(visit_id: h.visit_id, user_id: h.user_id) %>
              </p>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>