<div class="card hoverable">
      <div class="card-content">
        <span class="card-title black-text"><%= @visit.title %> (<%= @visit.discipline_module.title %>)</span>

        <p>

          <%= t(:discipline) %> <b><%= @visit.relationship.discipline.title %></b> <br/>
          <%= t(:teacher) %> <b><%= @visit.relationship.discipline.user.name %></b> <br/>
          <%= t(:group) %> <b><%= @visit.relationship.group.title %>, <%= @visit.relationship.semester.name %></b> <br/>
        </p>
      </div>
      <div class="card-action">
          <a href="<%= relationship_path(@visit.relationship) %>"><%= t(:marks) %></a>
          <a href="<%= relationship_discipline_modules_path(@visit.relationship) %>"><%= t(:online_modules) %></a>
      </div>
</div>

<div class="col m12 s12">
    <ul class="collection with-header">
      <li class="collection-header"><h4><%= t(:students) %> </h4></li>
      <% @visit.relationship.group.users.each do |student| %>
        <%= cell(StudentModule::Cell::Row, student, visit: @visit) %>
      <% end %>
    </ul>
  </div>
</div>