<div class="row" id="total-cont">
  <% if !current_user.student? %>
  <div class="col s12 m2">
    <%= form_tag(update_proportions_relationship_path(relationship), method: :post, html: {class: 'form-horizontal total-form'}) do |f| %>

        <% Visit.kinds.each do |kind, index| %>
              <%
                 value = (relationship.proportions.nil?) ? 0 : relationship.proportions["#{kind.to_s}_per_each".to_sym].gsub(/\D/, '').to_i
              %>
            <div class="input-field">
                <%= number_field_tag 'total['+kind.to_s+'_per_each]',  value %>
                <%= label_tag 'Per '+kind.to_s%>
            </div>
        <% end %>
          <% Visit.kinds.each do |kind, index| %>
              <%
                 value = (relationship.proportions.nil?) ? 0 : relationship.proportions["#{kind.to_s}_total".to_sym].gsub(/\D/, '').to_i
              %>
            <div class="input-field">
              <%= number_field_tag 'total['+kind.to_s+'_total]', value %>
              <%= label_tag 'Total '+kind.to_s %>
            </div>
          <% end %>
        <%= button_tag t(:save), class: 'btn waves-effect waves-light', type: 'submit' %>
    <% end %>
  </div>
  <% end %>
  <div class="col s12 m10">
    <table class="visits">
      <thead>
      <tr>
        <th class="delimiter"><%= t(:student) %></th>
        <% Visit.kinds.each do |kind, index| %>
            <th class="delimiter"><%= t(kind.to_s.pluralize.downcase) %></th>
        <% end %>
        <th class="delimiter"><%= t(:total) %></th>
        <th class="delimiter"><%= t(:mark) %></th>
        <th class="delimiter">ECTS</th>
      </tr>
      </thead>
      <% relationship.group.users.each do |student| %>
          <% student_total = 0 %>
          <tr>
            <th class="delimiter"><%= student.name %></th>
            <% Visit.kinds.each do |kind, index| %>
                <%
                   attends = @attends.select { |attend| attend.user_id == student.id and attend.relationship_id == relationship.id and attend.kind == index }
                   sum = attends.map(&:mark).inject(0, &:+)
                   num = relationship.visits.send(kind).size
                   total = (relationship.proportions.nil?) ? 0 : relationship.proportions["#{kind.to_s}_total".to_sym].gsub(/\D/, '').to_i
                   per_each = (relationship.proportions.nil?) ? 0 : relationship.proportions["#{kind.to_s}_per_each".to_sym].gsub(/\D/, '').to_i
                   kind_total = (relationship.proportions.nil?) ? 0 : (total.to_f*sum.to_f).to_f / (per_each.to_f * num.to_f).to_f
                   kind_total = 0 if total == 0 || per_each == 0 || kind_total.nan?
                   student_total += kind_total
                %>
                <td class="delimiter"> <%= "%g" % ("%.1f" % kind_total) %> </td>
            <% end %>
            <td class="delimiter mark<%= mark_by_total(student_total) %>"> <%= "%g" % ("%.1f" % student_total) %> </td>
            <td class="delimiter mark<%= mark_by_total(student_total) %>"> <%= mark_by_total(student_total) %> </td>
            <td class="delimiter mark<%= mark_by_total(student_total) %>"> <%= ects_by_total(student_total) %> </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>