<% attend = @attends.select { |attend| attend.visit_id == visit.id and attend.user_id == student.id }[0] %>
<td id="attend-presence-<%= student.id %>-<%= visit.id %>" class="presence">
<% if attend.nil? %>
  <%= render 'attend_form', visit: visit, student: student %>
<% else %>
  <%= render 'attend_toggle', attend: attend %>
<% end %>
</td>
<td id="attend-mark-<%= student.id %>-<%= visit.id %>" class="delimiter mark">
  <% if attend.nil? %>
      -
  <% else %>
    <%= render 'mark_form', attend: attend  %>
  <% end %>
</td>