<% attend = @attends.select { |attend| attend.visit_id == visit.id and attend.user_id == student.id }[0] %>
<td id="attend-presence-<%= student.id %>-<%= visit.id %>" class="presence">
<% if attend.nil? %>
  <%= render 'attend_form', visit: visit, student: student %>
<% else %>
  <%= render 'attend_toggle', attend: attend %>
<% end %>
</td>
<td id="attend-mark-<%= student.id %>-<%= visit.id %>" class="delimiter mark">
  <% if attend.nil? %>
      -
  <% else %>
    <%= render 'mark_form', attend: attend  %>
  <% end %>
  <% if visit.kind.to_s == 'homework' && (current_user.id == student.id || current_user.teacher?) %>
      <%= link_to fa_icon('eye'), visit_homeworks_path(visit_id: visit.id, user_id: student.id), class: 'view-attend' %>
  <% end %>
</td>