<h1><%= @relationship.discipline.title %> [<%= @relationship.group.title %>]</h1>
<h3><%= @relationship.semester.name %></h3>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% Visit.kinds.each do |kind, index| %>
        <li role="presentation" <%= 'class=active' if index == 0 %>><a href="#<%= kind.to_s.pluralize %>" aria-controls="home" role="tab" data-toggle="tab"><%= kind.to_s.pluralize.capitalize %></a></li>
    <% end %>
    <li role="presentation"><a href="#total" aria-controls="total" role="tab" data-toggle="tab">Total</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <% Visit.kinds.each do |kind, index| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="<%= kind.to_s.pluralize %>">
          <%= render 'visits', relationship: @relationship, kind: kind %>
        </div>
    <% end %>
    <div role="tabpanel" class="tab-pane" id="total">
      <%= render 'total', relationship: @relationship %>
    </div>
  </div>
</div>