<li class="collection-item <%= result.present? ? "grey lighten-3" : "" %>" id="question_row_<%= id %>">
  <div class="row">
    <b> <%= index %>. <%= escape_html(description) %> </b>
  </div>

  <div class="row">
    <div class="col m3 s12">
    <% if variants.present? && variants != '[]' %>
      <% variants.each do |var| %>
        <%=raw escape_html(var) %><br />
      <% end %>
    <% end %>
    </div>
    <div class="col m3 s12 green-text">
      <%=raw right_answer %>
    </div>
    <div class="col m3 s12">
      <%=raw answer %>
    </div>
    <div class="col m3 s12">
      <% if student_module.present? %>
        <%= form_tag(update_answer_result_student_module_path(student_module), method: :post, remote: true, id: "answer_result_#{id}", class: "form-horizontal") do |f| %>
          <div class="row">
            <div class="input-field col s12 m6">
              <%= hidden_field_tag :answer_id, id %>
              <%= text_field_tag :result, result, id: "result_#{id}" %>
            </div>
            <div class="input-field col s12 m6">
              <%= submit_tag I18n.t(:save), class: 'btn green' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</li>