<h3><%= t(:add_student_to_group) %></h3>
<%= form_tag(add_user_group_path, class: 'form-inline') do |f| %>
    <%= select_tag 'user_id', {}, {id: 'add_user_id'} %>
    <%= submit_tag 'Add', class: 'btn btn-success' %>
<% end %>
<div class="dropdown">
    <h3 data-toggle="dropdown" class="clone-trigger">Clone group <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span></h3>
    <div class="dropdown-menu" id="clone-form">
    <%= form_for(Group.new(title: (@group.title.gsub(/\D/, '').to_i+10).to_s, year: @group.year+1)) do |f| %>
        <%= f.text_field :title %>
        <%= f.number_field :year %>
        <%= hidden_field_tag 'clone_group_id', @group.id %>
        <%= f.submit %>
    <% end %>
    </div>
</div>
<script type="text/javascript">
    $('#add_user_id').selectize({
        valueField: 'id',
        labelField: 'name',
        searchField: 'name',
        options: [],
        create: false,
        load: function(query, callback) {
            if (query.length < 3) return callback();
            $.ajax({
                url: '<%= search_user_group_path %>',
                type: 'GET',
                dataType: 'json',
                data: {
                    q: query,
                },
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res);
                }
            });
        }
    });
</script>