<%= form_tag(add_user_group_path, class: 'form-inline', id: 'add-student-to-group') do |f| %>
<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= t(:add_student_to_group) %></span>
    <p>
      <%= select_tag 'user_id', {}, {id: 'add_user_id', class: 'browser-default', placeholder: t(:start_typing)} %>
    </p>
  </div>
  <div class="card-action">
    <%= link_to t(:add), '', onclick: '$("#add-student-to-group").submit(); return false;' %>
  </div>
</div>
<% end %>

<%= form_for(Group.new(title: (@group.title.gsub(/\D/, '').to_i+10).to_s, year: @group.year+1)) do |f| %>
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title black-text"><%= t(:clone_group) %></span>
        <p>
          <%= f.text_field :title %>
          <%= f.number_field :year %>
          <%= hidden_field_tag 'clone_group_id', @group.id %>
        </p>
      </div>
      <div class="card-action">
        <%= link_to t(:create), '', onclick: '$("#new_group").submit(); return false;' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $('#add_user_id').selectize({
        valueField: 'id',
        labelField: 'name',
        searchField: 'name',
        options: [],
        create: false,
        load: function(query, callback) {
            if (query.length < 3) return callback();
            $.ajax({
                url: '<%= search_user_group_path %>',
                type: 'GET',
                dataType: 'json',
                data: {
                    q: query,
                },
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res);
                }
            });
        }
    });
</script>