<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= t(:groups) %></span>
    <p>
      <%= link_to t(:new) + ' ' + t(:group), new_group_path, class: 'btn waves-effect waves-light' %>
    </p>
  </div>
</div>

<table class="striped">
  <thead>
  <tr>
    <th><%= t(:title) %></th>
    <th><%= t(:actions) %></th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
      <tr>
        <td><%= group.title_year %></td>
        <td>
          <%= link_to raw('<i class="fa fa-eye"></i>'), group, title: t(:show) %>
          <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_group_path(group), title: t(:edit) %>
          <%= link_to raw('<i class="fa fa-trash"></i>'), group, method: :delete, data: {confirm: t(:are_you_sure)}, title: t(:delete) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>