<h1><%= @group.title %></h1>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= render 'student_form'%>
  </div>
  <div class="col-md-7">
    <h3>Students</h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      <% @group.users.all.each do |student|%>
          <tr>
            <td><%= student.name %></td>
            <td><%= link_to 'Remove', remove_user_group_path(user_id: student.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>