<div class="row">
  <%= form_for(@user, html: {class: 'form-horizontal col-md-3 col-md-offset-1'}, url: (@user.new_record?) ? create_manual_users_path : user_path(@user)) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%
         options = Hash.new
         options[:readonly] = true if current_user.student?
      %>

      <div class="row">
        <div class="input-field col s12 m6">
          <%= f.text_field :name, options %>
          <%= f.label :name %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.email_field :email %>
          <%= f.label :email %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">
          <%= f.password_field :password %>
          <%= f.label :password %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.password_field :password_confirmation %>
          <%= f.label :password_confirmation %>
        </div>
      </div>

      <%
         if current_user.admin?
           roles = User.roles.keys.map { |role| [role.titleize, role] }
         else
           roles = User.roles.select { |key, value| key == 'student' }.keys.map { |role| [role.titleize, role] }
         end
      %>

      <div class="row">
        <div class="input-field col s12 m6">
          <%= f.select(:role, roles) %>
          <%= f.label :role %>
        </div>
        <div class="input-field col s12 m6">
          <%= button_tag t(:save), class: 'btn waves-effect waves-light', type: 'submit' %>
        </div>
      </div>
  <% end %>
</div>