<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= link_to user.email, user %>
</td>
<% if current_user.admin? %>
<td>
  <%= form_for(user) do |f| %>
      <div class="row">
        <div class="input-field col s12 m8">
          <%= f.hidden_field :email %>
          <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
          <%= f.label :role %>
        </div>
        <div class="input-field col s12 m4">
          <%= button_tag t(:save), class: 'btn waves-effect waves-light', type: 'submit' %>
        </div>
      </div>
  <% end %>
</td>
<% end %>
<td>
  <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_user_path(user), title: t(:edit) %>
  <%= link_to raw('<i class="fa fa-trash"></i>'), user_path(user), method: :delete, data: {confirm: t(:are_you_sure)}, title: t(:delete) unless user == current_user %>
</td>
