<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= link_to user.email, user %>
</td>
<% if current_user.admin? %>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit t(:change) + ' ' + t(:role), :class => 'button-xs' %>
  <% end %>
</td>
<% end %>
<td>
  <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_user_path(user), title: t(:edit) %>
  <%= link_to raw('<i class="fa fa-trash"></i>'), user_path(user), method: :delete, data: {confirm: t(:are_you_sure)}, title: t(:delete) unless user == current_user %>
</td>
