<div class="container">
  <h3><%= t :users %></h3>
  <%= link_to t(:new) + ' ' + t(:user), new_user_path, class: 'btn btn-success' %>
  <div class="row">
    <div class="column">
      <%= bootstrap_form_tag(url: users_path, method: :get) do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag t(:search), :name => nil %>
          </p>
      <% end %>

      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @users %>
    </div>
  </div>
</div>
