<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">

      <%= bootstrap_form_tag(url: users_path, method: :get) do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
      <% end %>

      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @users %>
    </div>
  </div>
</div>
