<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= t :users %></span>

    <p>
      <%= link_to t(:new) + ' ' + t(:user), new_user_path, class: 'btn waves-effect waves-light' %>
    </p>
  </div>
</div>

<%= form_tag(users_path, method: :get) do %>
    <div class="row">
      <div class="input-field col s10 m11">
        <%= text_field_tag :search, params[:search], :autofocus => true %>
        <%= label_tag :search %>
      </div>
      <div class="input-field col s2 m1">
        <%= button_tag t(:go), class: 'btn waves-effect waves-light', type: 'submit', name: nil %>
      </div>
    </div>
<% end %>

<table class="striped">
  <thead>
      <th><%= t(:name) %></th>
      <th><%= t(:email) %></th>
      <% if current_user.admin? %>
          <th><%= t(:role) %></th>
      <% end %>
      <th><%= t(:actions) %></th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <%= render user %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
