<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title black-text">Change your password</span>
        </div>
      </div>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="row">
        <div class="input-field col s12 m6">
          <%= f.password_field :password, autofocus: true, autocomplete: 'off' %>
          <%= f.label :password, 'New password' %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.password_field :password_confirmation, autocomplete: 'off' %>
          <%= f.label :password_confirmation, 'Confirm new password' %>
        </div>
      </div>

      <%= button_tag 'Change my Password', class: 'btn waves-effect waves-light', type: 'submit' %>
  <% end %>
</div>
