<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= @visit.relationship.discipline.title %>, <%= @visit.title %>
      (<%= @visit.relationship.semester.year %>)</span>

    <p>
      <%= t(:teacher) %>: <%= @visit.relationship.discipline.user.name %> <br/>
      <%= t(:student) %>: <%= link_to @user.name, user_path(@user), target: "_blank" %> <br/>
      <% if current_user.student? %>
          <%= t(:title) %>: <%= @attend.title %>
      <% else %>
          <%= form_for(@attend, url: update_title_attend_path(@attend), html: {class: 'attend-title-form'}, method: :post) do |f| %>
            <div class="row">
              <div class="input-field col s8 m6">
                <%= f.text_field :title, label: false %>
                <%= f.label t(:title) %>
              </div>
              <div class="input-field col s4 m6">
                <%= button_tag t(:save), class: 'btn waves-effect waves-light', type: 'submit' %>
              </div>
            </div>
        <% end %>
    <% end %>
    <br/><br/>
    <%= link_to t(:new) + ' ' + t(:homework), new_visit_homework_path(visit_id: @visit.id, user_id: @user.id), class: 'btn waves-effect waves-light' if current_user.student? && action_name != 'new' %>
    </p>
  </div>
  <div class="card-action">
    <%= link_to t(:marks), relationship_path(@visit.relationship, kind: "homewrok") %>
  </div>
</div>