<h1><%=t(:homework)%>: <%= @visit.title %> (<small><%= @user.name %></small>)</h1>
<h2><%= @visit.relationship.discipline.title %> (<%= @visit.relationship.semester.year %>)</h2>
<h4><%=t(:teacher)%>: <%= @visit.relationship.discipline.user.name %></h4>