<h1><%=t(:homework)%>: <%= @visit.title %> (<small><%= @user.name %></small>)</h1>
<h2><%= @visit.relationship.discipline.title %> (<%= @visit.relationship.semester.year %>)</h2>

<table class="table">
  <thead>
  <tr>
    <th><%= t(:document) %></th>
    <th><%= t(:created_at) %></th>
    <th><%= t(:corrections) %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @homeworks.each do |h| %>
      <tr>
        <td><%= link_to h.document_file_name, h.document.url %></td>
        <td><%= h.created_at %></td>
        <td></td>
        <td></td>
        <td><%= link_to t(:delete), h, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t(:new) + ' ' + t(:homework), new_visit_homework_path(visit_id: @visit.id, user_id: @user.id) if current_user.student? %>