<%= render 'heading' %>

<table class="table">
  <thead>
  <tr>
    <th><%= t(:document) %></th>
    <th><%= t(:created_at) %></th>
    <th><%= t(:comment) %></th>
    <th><%= t(:corrections) %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @homeworks.each do |h| %>
      <tr>
        <td><%= link_to h.document_file_name, h.document.url %></td>
        <td><%= h.created_at %></td>
        <td>
          <%= (h.comment_text.present?) ? h.comment_text : '-' %>
        </td>
        <td>
          <% if current_user.admin? || current_user.teacher? %>
              <%= bootstrap_form_for(h, html: {class: 'form-inline homework-correction-form'}) do |f| %>
                  <% if h.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(h.errors.count, "error") %> prohibited this homework from being saved:</h2>

                        <ul>
                          <% h.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>
                  <%= f.text_area :body, cols: 50, rows: 10, label: false %>

                  <%= f.submit t(:update_correction) %>
              <% end %>
          <% else %>
            <%= (h.body.present?) ? simple_format(h.body) : '-' %>
          <% end %>
        </td>
        <td>
          <%= link_to fa_icon('minus-circle'), h, method: :delete, data: { confirm: t(:are_you_sure) } if current_user.teacher? || current_user.admin?%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t(:new) + ' ' + t(:homework), new_visit_homework_path(visit_id: @visit.id, user_id: @user.id) if current_user.student? %>