<h1><%=t(:homework)%>: <%= @visit.title %> (<small><%= @user.name %></small>)</h1>
<h2><%= @visit.relationship.discipline.title %> (<%= @visit.relationship.semester.year %>)</h2>
<div class="row">
<%= render 'form' %>
</div>
<%= link_to t(:back), visit_homeworks_path(visit_id: @visit.id, user_id: @user.id) %>