<li class="collection-item">
  <div class="row">
    <div class="col m4 s12">
      <%= link_to student.name, student %>
    </div>
    <div class="col m2 s3">
      <%= status %>    
    </div>
    <div class="col m2 s3">
      <%= checked %>    
    </div>
    <div class="col m2 s3">
      <%= total %>    
    </div>
    <div class="col m2 s3">
      <%= open_link %>
      <%= cancel_link %>
      <%= copy_result_link %>
    </div>
  </div>
</li>